@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media print {
	body {
		margin: 0;
		padding: 0;
	}

	.no-print {
		display: none !important;
	}

	a {
		color: inherit !important;
		text-decoration: none !important;
	}
}


@layer components {
	@import "./App.css";
}